spring:
  web:
    resources:
      add-mappings: false
  application:
    name: withiy-server
  profiles:
    group:
      deploy:
        - deploy
        - jwt
      test:
        - test
        - jwt
      local:
        - local
        - jwt
    active: deploy
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api-docs
  paths-to-match: /**
hmac:
  secret-key: ${HMAC_SECRET_KEY}